<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Restful Task API</title>
  </head>
  <body>
    <div
      class="container"
      style="border: 3px solid goldenrod; font-family: sans-serif"
    >
      <div>
        <h1>
          {{ title }}
        </h1>
      </div>
      <div>
        <h2>New Task</h2>
        <form (submit)="onSubmit()" class="postForm">
          <label
            >Task Title:
            <input
              type="text"
              name="newTask.title"
              [(ngModel)]="newTask.title"
            /> </label
          ><br />
          <label
            >Task Description:
            <input
              type="text"
              name="newTask.description"
              [(ngModel)]="newTask.description"
            />
          </label>
          <input type="submit" value="Create" />
        </form>
      </div>
      <div
        class="gettasks"
        style="border: 3px solid blue; margin: 10px"
      >
        <h2>
          Task List
        </h2>
        <div *ngFor="let task of tasks">
          <div
            style="border: 2px solid black; width: 300px; margin: 5px; display: inline-block"
          >
            <h4>
              {{ task.title }}
              <button (click)="onUpdateClick(task)">Edit</button>
            </h4>
            <p>
              {{ task.description }}
              <button (click)="onRemove(task)">Delete</button>
            </p>
          </div>
        </div>
        <div
          *ngIf="task"
          style="display: inline-block; border: 2px solid black; width: 300px"
        >
          <form (submit)="onUpdate(task)">
            <label
              >Task title:
              <input
                type="text"
                name="task.title"
                [(ngModel)]="task.title"
              /> </label
            ><br />
            <label
              >Task Description:
              <input
                type="text"
                name="task.description"
                [(ngModel)]="task.description"
              />
            </label>
            <input type="submit" value="Update" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
