<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div container>
  <h2>
    <button (click)="getTasks()">Get All Tasks</button>
  </h2>
  <div *ngIf="allClick">
    <div *ngFor="let task of tasks">
      <ul>
        <li>
          {{ task.title }} <button (click)="getOneTask(task)">Show</button>
        </li>
      </ul>
    </div>
  </div>
  <div style="border: 1px solid black" *ngIf="showOne">
    <h3>{{ oneTask.title }}</h3>
    <ul>
      <li>{{ oneTask.description }}</li>
      <li>{{ oneTask.completed }}</li>
    </ul>
  </div>
</div>
